
# Create a virtual environment: python -m venv C:\Envs\hyd_ai
# Install: redis.exe, postgreSQL.exe
# python.exe -m pip install --upgrade pip
# pip install --upgrade -r .\backend\requirements.txt
uvicorn==0.46.0
fastapi==0.136.1
msgpack==1.1.2
redis==7.4.0
chardet==7.4.3
meshkernel==8.2.2
optuna==4.8.0
pysheds==0.5
python-multipart==0.0.27
sknw==0.15
hydromt-wflow==1.0.1
ipywidgets==8.1.8
cdsapi==0.7.7
# psycopg2-binary==2.9.11
# sqlmodel==0.0.38