html, body { 
  margin: 0; padding: 0; overflow: hidden; min-height: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#plotWindow {
  display: flex; flex-direction: column; height: 100%;
  width: 100%; min-width: 0; overflow: auto;
}

.plot-controls {
  display: flex; align-items: center; gap: 12px;
  width: 100%; box-sizing: border-box;
  padding: 10px; flex-wrap: wrap; background: #035f9c;
}
.plot-controls label {
  margin-left: 30px; white-space: nowrap; 
  font-weight: bold; color: white;
}
.plot-controls button {
  cursor: pointer; margin: 5px 5px 0 5px; padding: 6px 12px;
  background-color: #025040; font-size: 16px;
  border: none; border-radius: 4px; color: white; 
 
}
.plot-controls button:hover, .checkbox-list label:hover { 
    background-color: #019475; 
}
.button-group {
  margin-left: auto; display: flex; gap: 10px;
}
.select-object {
  position: relative; display: inline-block;
  width: 250px; font-size: 16px; overflow: visible;
}
.select-box {
  border: 1px solid #ccc; padding: 6px 12px;
  cursor: pointer; user-select: none; font-size: 15px;
  background: #fff; display: flex; width: 220px;
  justify-content: space-between; align-items: center;
  overflow: visible; flex-shrink: 1;
}
.label-text, .arrow { color: black; font-size: 16px; }

.checkbox-list {
  display: none; position: absolute; top: 100%; left: 0;
  background: #fff; border: 1px solid #ccc;
  overflow-y: auto;z-index: 9999; width: 230px;
  padding: 8px; border-radius: 6px; max-height: 200px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.checkbox-list input[type="checkbox"] { margin: 0 4px 0 0; }
.checkbox-list label {
  display: flex; align-items: center; gap: 6px; color: black;
  padding: 4px 6px; cursor: pointer; font-size: 14px; margin-left: 5px;
  font-weight: normal !important; line-height: 1.4;
}

.plot-area { 
  flex: 1; display: flex; width: 100%; height: 100%;
  overflow: auto; min-height: 0; min-width: 0;
}
#myChart { 
  flex: 1; width: 100%; height: 100%; 
  min-height: 0; overflow: hidden;
}

